* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* REGOLE GENERALI CONTAINER */

.container {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

#figure {

    display: flex;
    justify-content: center;
    align-items: center;

}

#figure.img {

    width: 100%;
    height: 100%;

}


#bottone {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;

}


/* REGOLE IMG */

#luce_accesa {

    display: none;

}

/* REGOLE INPUT */

input {

    background-color: orange;
    font-size: 20px;
    padding: 10px;
    border-radius: 99999px;
    border: none;
    cursor: pointer;

}

/* cambia il colore al click*/
input.spegni {

    background-color: gray; 

}

